# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
build
.astro
.next

# Misc
.env
.env.local
.env.*.local
.DS_Store
*.log
*.log.*
*.pem

# Turborepo
.turbo
.turbo/**

# IDEs
.vscode
.idea
*.swp
*.swo